
#container_waterfall {
    box-shadow: inset 0 1px 0 #444, 0 -1px 0 #000;
    height: 140px;
    left: 50%;
    width: 120px;
    display: inline-block;
    background: #222;
}

#container_waterfall canvas {
    display: block;
    margin: 0 auto;
}

#container_lighter {
    background: linear-gradient(#000, #151515);
    display: inline-block;
}

#container_lighter canvas {
    display: block;
}

#bubble_canvas{
    display: inline-block;
    width: 600px;
    height: 300px;
}

#canvas_sun{
    display: inline-block;
}